.nav{
	margin-left:700px;
  padding: 10px;
}
.he{
	color: black;
}


.image3
{

	width: 1240px;

margin-left: 41px;

height: 343px;
}

 .hi
  {
  	color: #6b6161;
  }




.bg-btn
{
	background-color: rgb(237, 233, 233);
	height: 36px;
	text-align: right;
	padding-right: 15px;
	padding-top: 7px;
}
.image
{
	width: 248px;

   height: 204px;
}

.color
{
	color: #6e5656;
}
.navbar2
  {
  	background-color: orange;
  	padding: 28px;
    
  }